@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --light-gray: hsl(223, 64%, 98%);
  --dark-gray: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: 'Kumbh Sans', sans-serif;
}

.mobile-nav-toggle[aria-expanded='true'] {
  background-image: url(../images/icon-close.svg);
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
